body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f6f6f6;
}

header {
    margin-bottom: 20px;
}

a {
    margin-right: 10px;
}

li {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    list-style: none;
    border-radius: 5px;
}